- provide :title, "検索結果"
%p.mb-5
  = @shops.count
  件のお店が見つかりました。
.row.justify-content-center
  - @shops.each do |shop|
    = render 'shop', shop: shop
.text-center.py-5
  =link_to "条件を変えて検索する", root_path, class: "btn1 bg-main w-50"
