- provide :title, "About"
%h1.pb-5
  %span.title> AtlAcade
  とは？
%p 全国のゲームセンターを検索できるサービスです。
%p 場所で探す、置いてるゲームで探す、お店のイベントで探す、等が出来ます。
%p.py-3 「AtlAcade」という言葉は"地図帳"を意味する「Atlas」と”ゲームセンター”である「Arcade」から来ている造語です。

%p.pt-3 アカウントを登録するともっと便利に使えます。
= link_to new_user_registration_path, class: "atl-btn ml-4" do
  %i.far.fa-plus-square.fa-2x
  アカウントの登録
