.container.text-center.py-5
  %h1.display-4.pb-5 AtlAcadeとは？
  %p 全国のゲームセンターを検索できるサービスです。
  %p 場所で探す、置いてるゲームで探す、お店のイベントで探す、等が出来ます。
  %p.py-3 「AtlAcade」という言葉は"地図帳"を意味する「Atlas」と”ゲームセンター”である「Arcade」から来ている造語です。

  %p TOPページへ戻る
  =link_to "TOPへ", root_path, class: "btn btn-primary w-25 mb-4"

  %p.pt-3 アカウントを登録するともっと便利に使えます。
  =link_to "新規登録する", new_user_registration_path, class: "btn btn-primary w-25"
