%section.signboard.checkbg.bg3
  .container.fluid
    .row.text-center.py-5
      .col-md-4.image_atlacade
        =image_tag "logo.png", class: "logo"
      .col-md-8
        %h1 AtlAcadeへようこそ
        %p こんにちは

%section.text-center.bg-light.py-5
  %p 好きな条件で検索しよう！
  =link_to "検索する", result_path, class: "btn btn-primary w-50"

%section.text-center.bg-light.py-5
  %p ログイン・新規登録はこちら
  =link_to "ログインする", new_user_session_path, class: "btn btn-primary w-25 mr-2"
  =link_to "新規登録する", new_user_registration_path, class: "btn btn-primary w-25 ml-2"
