%section.bg-base.py-5.text-center
  .container
    %p.mb-5 ●件のお店が見つかりました。
    - 3.times do
      .row.mb-3
        .col-lg-6
          = render 'shop'
        .col-lg-6
          = render 'shop'

%section.text-center.bg-base.pb-5
  =link_to "条件を変えて検索する", root_path, class: "btn1 bg-main w-50"
