.section.bg-light
  .container.text-center.py-4
    .display-4 お店の名前
    .row.py-4
      .col
        =image_tag('logo.png', size:"400x400")
      .col.text-left
        %p 営業時間
        %br TEL
        %br 住所
        %br 最寄駅
        =link_to "アクセス", "#Access", class: "btn btn-primary my-3 ml-1"
        %br 更新日
    %hr.py-4

    %a(class="btn btn-outline-info w-75 mb-5" data-toggle="collapse" href="#Events" role="button" aria-expanded="false" aria-controls="Events")
      イベント
    #Events.collapse
      %p 開催中のイベントはありません。
      %p.mb-5 ここにTwitter

    %a(class="btn btn-outline-info w-75 mb-5" data-toggle="collapse" href="#Machines" role="button" aria-expanded="false" aria-controls="Machines")
      設置ゲーム一覧
    #Machines.collapse.row.text-center
      %div(class="accordion w-50 mx-auto mb-4" id="accordion2" role="tablist")
        .card
          %div(class="card-header text-center" role="tab" id="heading1")
            %h6.mb-0
              %a(data-toggle="collapse" class="text-body stretched-link text-decoration-none" href="#collapse1" aria-expanded="false" aria-controls="collapse1") ゲームタイトルA
          %div(id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1" data-parent="#accordion2")
            .card-body アイテム1のコンテンツ

    %a(class="btn btn-outline-info w-75 mb-5" id="Access" data-toggle="collapse" href="#Access" role="button" aria-expanded="true" aria-controls="Access")
      アクセス
    #Access.collapse
      %p 最寄駅から徒歩●分。
      %p.mb-5 ここにGoogleMap

  %section.text-center.bg-light.pb-5
    =link_to "検索結果に戻る", result_path, class: "btn btn-primary w-50"
