.section.bg-base
  .container.text-center.py-4
    .display-4 お店の名前
    .row.py-4
      .col
        = image_tag('logo.png', size:"400x400")
      .col.text-left
        %p 営業時間
        %br TEL
        %br 住所
        %br 最寄駅
        = link_to "アクセス", "#Access_forjump", class: "btn1 bg-main my-3 ml-1"
        %br 更新日
    %hr.py-4

    %a(class="btn btn-outline-info w-75 mb-5" data-toggle="collapse" href="#Events" role="button" aria-expanded="true" aria-controls="Events")
      イベント
    #Events.collapse.show
      %p 開催中のイベントはありません。
      %p.mb-5 ここにTwitter

    %a(class="btn btn-outline-info w-75 mb-5" data-toggle="collapse" href="#Machines" role="button" aria-expanded="true" aria-controls="Machines")
      設置ゲーム一覧
    #Machines.row.collapse.text-center.show
      %div{class: "accordion w-50 mx-auto mb-4", id: "machine_1_accordion"}
        .card
          %div{class: "card-header text-center", role: "tab", id: "head_1"}
            %h6.mb-0
              %a(data-toggle="collapse" class="stretched-link " href="#collapse_1" aria-expanded="true" aria-controls="collapse_1") ゲームタイトル1
          %div(id="collapse_1" class="collapse show" aria-labelledby="head_1" data-parent="machine_1_accordion")
            .card-body ゲーム1のコンテンツ

    %a(class="btn btn-outline-info w-75 mb-5" id="Access_forjump" data-toggle="collapse" href="#Access" role="button" aria-expanded="true" aria-controls="Access")
      アクセス
    #Access.collapse.show
      %p 最寄駅から徒歩●分。
      %p.mb-5 ここにGoogleMap

  %section.text-center.bg-base.pb-5
    =link_to "検索結果に戻る", result_path, class: "btn1 bg-main w-50"
