.content-title{
  display: inline-block;
  margin-bottom: 4px;
  margin-top: 15px;
  background: #dcdcfe;
  border-top: 1px #cacaca solid;
  border-bottom: 2px #d6d4d3 solid;
  padding: 5px 25px;
  font-size: 120%;
  text-shadow: 0px 1px 0px #fff;
  box-shadow: 0 -1px #9e9b9a inset;
}

.tag{
  display: inline-block;
  color: #000;
  background-color: #dfd;
  border: 4px #39753e solid;

  border-radius: 10px;
  margin: 5px 0px;
  padding: 5px 7px;
}
