@import "bootstrap";
@import "utility";
@import "base";
@import "home";
@import "about";
@import "/users/signup";


.logo2{
  font-family: 'Poiret One', cursive;
  color: #002533;
  width: 60px;
  font-size: 45px;
  border: 1px #fff solid;
  border-radius: 12px;
  padding: 8px;
  margin: 0px;
  &:hover{
    text-decoration: none;
  }
}

footer{
  background-color: #ccc;
  font-size: 10px;
  p{
    padding:15px 0px;
  }
}
