@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";
@import 'font-awesome-sprockets';
@import "font-awesome";
@import "utility";
@import "base";
@import "header";
@import "home";
@import "about";
@import "form";
@import "/shops/show";
@import "/shops/index";


footer{
  padding: 10px 0;
  border-top: 3px #2f2 double;
  background-color: #ddd;
  font-size: 12px !important;
  line-height: 18px;
  li{
    position:relative;
    // left: 2rem;
    list-style: circle;
  }
  a:visited { text-decoration: inherit; color: #000; }
  p{
    padding:15px 0px;
  }
  h6{
    font-size: 14px;
    margin: 0;
    position: relative;
    left: -1rem;
  }
}
