header{
  box-sizing: border-box;
  border-bottom: 2px #ddd solid;
  position: relative;
  z-index: 100;
  width: 100%;
}

nav{
  box-sizing: border-box;
  // border-bottom: 3px #2f2 double;
  padding-bottom: 5px;

}
.header-base{
  background: rgb(15,9,67);
  color: #e6f8ff;
}

.logo2{
  text-decoration: none;
  display: block;
  font-family: 'Poiret One', cursive;
  font-size: 45px;
  font-weight: bold;
  padding: 5px 12px;
  margin: 0px;
  a{
    color: #ff6d33 !important;
    text-shadow: 2px 2px #655;
    transition: 0.4s;
    &:hover{
      color: #ff4433 !important;
      text-shadow: 2px 2px #655, 4px 4px #322;
    }
  }
}

.atl-navtoggle{
  color: #ff6d33 !important;
  font-size: 2rem !important;
  border: 1px #eee solid  !important;
  border-radius: none;
  &:forcas{
    box-shadow:none;
  }
}

.nav-item{
  overflow: hidden;
  box-sizing: border-box;
  color: #eee !important;
  border-left: 2px solid #2f2;
  transition: 0.4s;
  &:hover{
    box-sizing: border-box;
    color: #ff6d33 !important;
    text-shadow: 1px 1px #322;
    border-bottom: 1px solid #2f2;
  }
}

.navbar-dark .navbar-nav .nav-link {
    margin-left: 10px;
}
