.machine-items{
  position: relative;
  left: 20px;
  width: 97%;
  border-left: 2px solid #2f2;
  border-bottom: 4px double #2f2;
  input{ display: none; }
  label{
    cursor: pointer;
    display: inline-block;
    border: rgba(128, 128, 128, 0.7) 1px dotted;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0.3rem;
  }
  input:checked + label{
    border-top: 1px #2f2 solid;
    border-left: 1px #2f2 solid;
    border-right: 3px #2f2 solid;
    border-bottom: 4px #2f2 double;
  }
}

.machine-items-head{
  display: inline-block;
  font-size: 150%;
  padding: 5px 17px;
  border-bottom: 3px double #ff2;
  border-right: 1px solid #ff2;
}

.area-select{
  span{ font-size: 150%; }
  select{
  cursor: pointer;
  height: 2rem;
  background-color: rgba(64, 64, 64, 0.6);
  background-image: none;
  border:none;
  border-left: 2px solid #ff2;
  border-bottom: 4px double #ff2;
  border-top: 1px solid #ff2;
  border-right: 1px solid #ff2;
  border-radius: none;
  color: #fff;
  }
}

#machine_query{
  margin: 1rem auto;
  width: 90%;
}
header{
  box-sizing: border-box;
  border-bottom: 2px #ddd solid;
  position: relative;
  z-index: 100;
  width: 100%;
}

nav{
  box-sizing: border-box;
  // border-bottom: 3px #2f2 double;
  padding-bottom: 5px;

}
.header-base{
  background: rgb(15,9,67);
  color: #e6f8ff;
}

.logo2{
  text-decoration: none;
  display: block;
  font-family: 'Poiret One', cursive;
  font-size: 45px;
  font-weight: bold;
  padding: 5px 12px;
  margin: 0px;
  a{
    color: #ff6d33 !important;
    text-shadow: 2px 2px #655;
    transition: 0.4s;
    &:hover{
      color: #ff4433 !important;
      text-shadow: 2px 2px #655, 4px 4px #322;
    }
  }
}

.atl-navtoggle{
  color: #ff6d33 !important;
  font-size: 2rem !important;
  border: 1px #eee solid  !important;
  border-radius: none;
  &:forcas{
    box-shadow:none;
  }
}

.nav-item{
  overflow: hidden;
  box-sizing: border-box;
  color: #eee !important;
  border-left: 2px solid #2f2;
  transition: 0.4s;
  &:hover{
    box-sizing: border-box;
    color: #ff6d33 !important;
    text-shadow: 1px 1px #322;
    border-bottom: 1px solid #2f2;
  }
}

.navbar-dark .navbar-nav .nav-link {
    margin-left: 10px;
}

footer{
  padding: 10px 0;
  border-top: 3px #2f2 double;
  background-color: #ddd;
  font-size: 12px !important;
  line-height: 18px;
  li{
    position:relative;
    list-style: circle;
  }
  a:visited { text-decoration: inherit; color: #000; }
  p{
    padding:15px 0px;
  }
  h6{
    font-size: 14px;
    margin: 0;
    position: relative;
    left: -1rem;
  }
}

.title{
  font-family: 'Poiret One', cursive;
  color: #ff6d33;
  font-size:60px;
}
