#Signboard{
  text-align: center;

  width: 100%;
  position: relative;

  .title{
    position: relative;
    display: inline-block;
    font-family: 'Poiret One', cursive;
    color: #ff6d33;
    font-size: 80px;
    text-align: left;
    text-shadow: 2px 2px 0 #533, 4px 4px 0 #311;
  }

  .title::before{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 75px;
    background: rgb(8,4,19);
    top: 25px;
    animation: title_0  0.1s linear 1.2s,
               title_1 0.06s linear 1.8s,
               title_2 0.04s linear 2.0s,
               title_3 0.04s linear 2.15s,
               title_4 0.06s linear 2.4s,
               title_5 0.04s linear 2.7s,
               title_6 0.04s linear 2.9s,
               title_7 0.04s linear 3.15s,
               title_8 0.04s linear 3.3s,
               title_9  0.8s linear 3.6s;
    animation-fill-mode: forwards;
  }
  .title::after{
    display: block;
    content: "";
    position: absolute;
    width: 2px;
    background: #ddd;
    animation: leftline1 0.4s ease 0.7s,
               leftline2 0.4s ease 1.1s;
    animation-fill-mode: forwards;
    top: 100px;
  }
  .title_underline{
    z-index: 3;
    width: 100%;
    position: relative;
    background: rgb(8,4,19);
  }
  .title_underline::after{
    background-color: #2f2;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    animation: underline1 0.5s ease 0.1s,
               underline2 0.4s ease 0.5s;
    animation-fill-mode: forwards;
  }
  p{ font-size: 16px; }
  .hello{
    position:relative;
    z-index: 0;
    top: -350px;
    border-bottom: #ddd 2px solid;
    padding-bottom: 1rem;
    animation: hello 1.5s ease 3.5s;
    animation-fill-mode: forwards;
    p{
      font-size: 18px;
    }
  }
}

@keyframes leftline1{
  0%{   height: 0;    top: 100px;}
  100%{ height: 75px; top: 25px; background: #2f2;}
}
@keyframes leftline2{
  0%{   width: 2px; background: #2f2;}
  100%{ width: 100%; background: none;}
}
@keyframes underline1{
  0%{   width: 0;}
  100%{ width: 100%;}
}
@keyframes underline2{
  0%{   border-bottom: #2f2 1px solid;}
  100%{ border-bottom: #ddd 5px double; background: none; height: 75px;}
}
@keyframes title_none{
  0%{    display: none;}
  100%{  display: inline-block; }
}
@keyframes title_0{
  0%{   border-left: none }
  100%{ border-left: 6px #2f2 solid; }
}
@keyframes title_1{
  0%{   left: 0; }
  100%{ left: 65px; }
}
@keyframes title_2{
  0%{   left: 65px; }
  100%{ left: 85px; }
}
@keyframes title_3{
  0%{   left: 85px; }
  100%{ left: 105px; }
}
@keyframes title_4{
  0%{   left: 105px; }
  100%{ left: 170px; }
}
@keyframes title_5{
  0%{   left: 170px; }
  100%{ left: 208px; }
}
@keyframes title_6{
  0%{   left: 208px; }
  100%{ left: 250px; }
}
@keyframes title_7{
  0%{   left: 250px; }
  100%{ left: 298px; }
}
@keyframes title_8{
  0%{   left: 298px; }
  100%{ left: 340px; }
}
@keyframes title_9{
  0%{ }
  100%{ height: 0; top: 100px; }
}
@keyframes hello{
  0%{ }
  100%{ top: 0; }
}
