- provide :title, "ゲーム一覧"
%p.mb-2.text-left.pl-5
  = @machines.count
  件のゲームが登録されています。
= link_to "/new", new_machine_path, class: "btn1 bg-main w-25 mb-4"

.shops
  - @machines.each do |machine|
    = render 'machine', machine: machine
